In [1]:
import numpy as np
import pandas as pd
import re

import pdpipe as pdp
import matplotlib.pyplot as plt
import glob
import os
import csv
from itertools import islice
from decimal import Decimal
import xml.etree.ElementTree as et
from xml.etree.ElementTree import parse
import openpyxl
import pytest

C:\Users\smvan\anaconda3\lib\site-packages\pdpipe\col_generation.py:12: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm

In [2]:
consolidated_df = pd.read_csv("C:/Users/smvan/CFFS-S23/CFFS-22-23/data/Consolidated_purchases/OK_consol_purchases_may1_june21.csv")
consolidated_df.head()

,invoice_counter,invoice_num,invoice_total,item_num,qty,line_amount,adj_line_amount,uom,unit_cost,item_descrip,...,prod_group_descrip,order_code,compute_0022,pak_qty,case_qty,purchase_uom,cat_num,cat_descrip,has_credit,credit_pak_amount
0,253580,098448,382.77,2937,2.0,143.18,143.18,cs,71.59,SAVIOARDI (LADY FINGERS),...,CANDIES SNACKS,WS1354,N,400.0,15.0,cs,7,Candy,N,0
1,253818,098592,561.94,2937,1.0,71.59,71.59,cs,71.59,SAVIOARDI (LADY FINGERS),...,CANDIES SNACKS,WS1354,N,400.0,15.0,cs,7,Candy,N,0
2,253879,098448CR,-143.18,2937,-2.0,-143.18,-143.18,cs,71.59,SAVIOARDI (LADY FINGERS),...,CANDIES SNACKS,WS1354,N,400.0,15.0,cs,7,Candy,N,0
3,255409,100030,491.36,2937,1.0,71.59,71.59,cs,71.59,SAVIOARDI (LADY FINGERS),...,CANDIES SNACKS,WS1354,N,400.0,15.0,cs,7,Candy,N,0
4,255410,101072,732.65,2937,1.0,62.99,62.99,cs,62.99,SAVIOARDI (LADY FINGERS),...,CANDIES SNACKS,WS1354,N,400.0,15.0,cs,7,Candy,N,0

In [3]:
categories_df = pd.read_csv("C:/Users/smvan/CFFS-S23/CFFS-22-23/data/GHG_categories/ghge_factors.csv")
categories_df

,Category ID,Food Category,Active Total Supply Chain Emissions (kg CO2 / kg food)
0,1,beef & buffalo meat,41.3463
1,2,lamb/mutton & goat meat,41.6211
2,3,pork (pig meat),9.8315
3,4,"poultry (chicken, turkey)",4.3996
4,5,butter,11.4316
...,...,...,...
57,58,sauces & paste,0.0000
58,59,manually adjusted,0.0000
59,60,human labor,0.0000
60,61,kitchen supplies,0.0000
61,62,mushrooms,1.5000

In [4]:
# Convert the "item_descrip" and "Food Category" columns to lowercase
consolidated_df['item_descrip'] = consolidated_df['item_descrip'].str.lower()
categories_df['Food Category'] = categories_df['Food Category'].str.lower()

# Initialize new columns
consolidated_df['Food Category'] = np.nan
consolidated_df['Category ID'] = np.nan

# Define a function to split the Food Category column
def split_food_category(category):
    separators = ['/', '(', ',', ')']
    for separator in separators:
        category = category.replace(separator, ' ')
    return category.strip()

for index, row in categories_df.iterrows():
    categories_df.at[index, 'Food Category'] = split_food_category(row['Food Category'])
    
# Iterate through each row
for index, row in consolidated_df.iterrows():
    item_descrip = row['item_descrip']
    
    # Split the item_descrip into words
    item_words = item_descrip.split()
    
    # Find matches between the words in item_descrip and the Food Category column
    matches = categories_df[categories_df['Food Category'].apply(lambda x: any(word in x.split() for word in item_words))]
    
    # If there is a match, assign the corresponding values
    if not matches.empty:
        consolidated_df.at[index, 'Food Category'] = matches['Food Category'].iloc[0]
        consolidated_df.at[index, 'Category ID'] = matches['Category ID'].iloc[0]

# Print the updated DataFrame
consolidated_df

,invoice_counter,invoice_num,invoice_total,item_num,qty,line_amount,adj_line_amount,uom,unit_cost,item_descrip,...,compute_0022,pak_qty,case_qty,purchase_uom,cat_num,cat_descrip,has_credit,credit_pak_amount,Food Category,Category ID
0,253580,098448,382.77,2937,2.0,143.18,143.18,cs,71.59,savioardi (lady fingers),...,N,400.0,15.0,cs,7,Candy,N,0,NaN,NaN
1,253818,098592,561.94,2937,1.0,71.59,71.59,cs,71.59,savioardi (lady fingers),...,N,400.0,15.0,cs,7,Candy,N,0,NaN,NaN
2,253879,098448CR,-143.18,2937,-2.0,-143.18,-143.18,cs,71.59,savioardi (lady fingers),...,N,400.0,15.0,cs,7,Candy,N,0,NaN,NaN
3,255409,100030,491.36,2937,1.0,71.59,71.59,cs,71.59,savioardi (lady fingers),...,N,400.0,15.0,cs,7,Candy,N,0,NaN,NaN
4,255410,101072,732.65,2937,1.0,62.99,62.99,cs,62.99,savioardi (lady fingers),...,N,400.0,15.0,cs,7,Candy,N,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4977,254568,9001957384,1043.54,5528,1.0,50.69,50.69,cs,50.69,wrap film roll 17x2500 ct box,...,N,2500.0,1.0,cs,4,Misc.,N,0,NaN,NaN
4978,254752,9002040853,1344.08,5528,1.0,51.27,51.27,cs,51.27,wrap film roll 17x2500 ct box,...,N,2500.0,1.0,cs,4,Misc.,N,0,NaN,NaN
4979,254751,9002069993,438.54,5528,1.0,51.27,51.27,cs,51.27,wrap film roll 17x2500 ct box,...,N,2500.0,1.0,cs,4,Misc.,N,0,NaN,NaN
4980,255110,9002155420,3010.51,5528,3.0,153.81,153.81,cs,51.27,wrap film roll 17x2500 ct box,...,N,2500.0,1.0,cs,4,Misc.,N,0,NaN,NaN
4981,254033,9001770050,1178.46,5531,1.0,61.52,61.52,cs,61.52,wrap foil reg 18in 45cmx100m,...,N,328.0,1.0,cs,4,Misc.,N,0,NaN,NaN

In [5]:
# for index, row in categories_df.iterrows():
#     for i, r in consolidated_df.iterrows():
#         if consolidated_df.loc[i, 'Food Category'].str.contains(categories_df.loc[index, 'Food Category']):
#             consolidated_df.loc[index, 'Food Category'] = categories_df.loc[index, 'Food Category']
#             consolidated_df.loc[index, 'Category ID'] = categories_df.loc[index, 'Category ID']

In [6]:
# def split_food_category(category):
#     separators = ['/', '(', ',', ')']
#     for separator in separators:
#         category = category.replace(separator, ' ')
#     return category.strip()

# for index, row in categories_df.iterrows():
#     categories_df.at[index, 'Food Category'] = split_food_category(row['Food Category'])

a_df = consolidated_df.iloc[730:760, :]

In [7]:
# Iterate through each row
for index, row in consolidated_df.iterrows():
    item_descrip = row['item_descrip']
    
    # Split the item_descrip into words
    item_words = item_descrip.split()
    
    if 'eggplant' in item_words or 'kale' in item_words or 'lettuce' in item_words or 'romaine' in item_words or 'salad':
        consolidated_df.at[index, 'Food Category'] = 'other vegetables'
        consolidated_df.at[index, 'Category ID'] = 40
        
    if 'base' in item_words and 'veg' in item_words or 'veg' in item_words or 'seaweed' in item_words or 'ck|g&g|salad|kalecaesarw/chick' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'other vegetables'
        consolidated_df.at[index, 'Category ID'] = 40
        
    if 'nori' in item_words or 'ck|g&g|salad|kale caesar.' in item_words or 'pickle' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'other vegetables'
        consolidated_df.at[index, 'Category ID'] = 40

        
    if 'spinach' in item_words or 'carrot' in item_words or 'artichoke' in item_words or 'avocado' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'other vegetables'
        consolidated_df.at[index, 'Category ID'] = 40
        
    if 'cantaloupe' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'other fruits'
        consolidated_df.at[index, 'Category ID'] = 31
    
    if 'carrots' in item_words or 'celery' in item_words or 'coleslaw' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'other vegetables'
        consolidated_df.at[index, 'Category ID'] = 40
    
    if 'sprouts' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'other vegetables'
        consolidated_df.at[index, 'Category ID'] = 40
    
    if 'milkettes' in item_words or ('milk' in item_words and '2%' in item_words) or 'milk' in item_words:
        consolidated_df.at[index, 'Food Category'] = "milk (cow's milk)"
        consolidated_df.at[index, 'Category ID'] = 9
    
    
    if ('milk' in item_words and 'rice' in item_words):
        consolidated_df.at[index, 'Food Category'] = "rice milk"
        consolidated_df.at[index, 'Category ID'] = 29
        
    if 'rice' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'rice'
        consolidated_df.at[index, 'Category ID'] = 25
           
    
    if 'oat' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'oats (oatmeal)'
        consolidated_df.at[index, 'Category ID'] = 23

    if 'dress' in item_words or 'sauce' in item_words or 'jelly' in item_words or 'ketchup' in item_words or 'chutney' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'sauces & paste'
        consolidated_df.at[index, 'Category ID'] = 58

    if 'mayonaise*vegan' in item_words or 'mayonnaise' in item_words or 'mustard' in item_words or 'spread' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'sauces & paste'
        consolidated_df.at[index, 'Category ID'] = 58
        
        

    # Check if item_descrip contains "cereal"
    if 'cereal' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'other grains/cereals'
        consolidated_df.at[index, 'Category ID'] = 21
    

    
    # Check if item_descrip contains "salami"
    if 'salami' in item_words or '50/50' in item_words or 'patties' in item_words or ('beef' in item_words and 'roast' in item_words) or 'beef' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'beef & buffalo meat'
        consolidated_df.at[index, 'Category ID'] = 1
              

    if 'coconut' in item_words or 'apricot' in item_words or 'cucumber' in item_words or 'peppers' in item_words or 'salsa' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'other fruits'
        consolidated_df.at[index, 'Category ID'] = 31 

    if 'grapes' in item_words or 'kiwi' in item_words or 'mangoes' in item_words or 'honeydew' in item_words or 'peach' in item_words or 'pears' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'other fruits'
        consolidated_df.at[index, 'Category ID'] = 31 
    
    if 'squash' in item_words or 'watermelon' in item_words or 'zucchini' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'other fruits'
        consolidated_df.at[index, 'Category ID'] = 31 
        
    if 'muffin' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'wheat/rye (bread, pasta, baked goods)'
        consolidated_df.at[index, 'Category ID'] = 24     

        
    if ('cream' in item_words and 'ice' in item_words) or 'magnum' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'ice cream'
        consolidated_df.at[index, 'Category ID'] = 7  
        
        
    if 'pie' in item_words or 'waffle' in item_words or 'pastry' in item_words or 'flour' in item_words or 'bun' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'wheat/rye (bread, pasta, baked goods)'
        consolidated_df.at[index, 'Category ID'] = 24
    
    if 'bar' in item_words or 'biscuits' in item_words or 'brownie' in item_words or 'cake' in item_words or 'cookie' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'wheat/rye (bread, pasta, baked goods)'
        consolidated_df.at[index, 'Category ID'] = 24
        
    
    if 'loaf' in item_words or 'pretzel' in item_words or 'scone' in item_words or 'tart' in item_words or 'tiramisu' in item_words or 'lady' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'wheat/rye (bread, pasta, baked goods)'
        consolidated_df.at[index, 'Category ID'] = 24

    if 'crouton' in item_words or 'ck|prep|granola' in item_words or 'noodles' in item_words or 'perogy' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'wheat/rye (bread, pasta, baked goods)'
        consolidated_df.at[index, 'Category ID'] = 24
    
               
    if 'co2' in item_words or 'soda' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'kitchen supplies'
        consolidated_df.at[index, 'Category ID'] = 61
            
        
    if 'hashbrown' in item_words or 'potato*pompom' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'potatoes'
        consolidated_df.at[index, 'Category ID'] = 41
        

 
    if 'chocolate' in item_words or 'arnotts' in item_words or 'choco' in item_words or 'cho' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'cocoa'
        consolidated_df.at[index, 'Category ID'] = 52
    
    if 'dragon' in item_words or 'california' in item_words or 'shrimpmt' in item_words or 'prawn' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'crustaceans (shrimp/prawns)'
        consolidated_df.at[index, 'Category ID'] = 13


    if 'cumin' in item_words or 'cloves' in item_words or 'ground' in item_words or 'seasoning' in item_words:
        consolidated_df.at[index, 'Food Category'] = "stimulants & spices misc."
        consolidated_df.at[index, 'Category ID'] = 54
        
    if 'blend' in item_words or 'chili' in item_words or 'pwdr' in item_words or 'caper' in item_words:
        consolidated_df.at[index, 'Food Category'] = "stimulants & spices misc."
        consolidated_df.at[index, 'Category ID'] = 54
    
    if 'leaf' in item_words or 'chile' in item_words or 'paprika' in item_words or 'leaves' in item_words:
        consolidated_df.at[index, 'Food Category'] = "stimulants & spices misc."
        consolidated_df.at[index, 'Category ID'] = 54   
        
    if 'anise' in item_words or 'cardamom' in item_words or 'mix' in item_words:
        consolidated_df.at[index, 'Food Category'] = "stimulants & spices misc."
        consolidated_df.at[index, 'Category ID'] = 54 
        
        
    if 'onion' in item_words or 'leeks' in item_words or 'onions' in item_words or 'shallots' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'onions and leeks'
        consolidated_df.at[index, 'Category ID'] = 39
                
    
    if 'pumpkin' in item_words or 'jackfruit' in item_words or 'pineapple' in item_words or 'raisin' in item_words or 'cherries' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'other fruits'
        consolidated_df.at[index, 'Category ID'] = 31 
        
    if 'pumpkin' in item_words and 'kern' in item_words or 'quinoa' in item_words or 'sesame' in item_words or 'seed' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'tree nuts and seeds'
        consolidated_df.at[index, 'Category ID'] = 26 
        

    if 'tomato' in item_words or 'tomatillos' in item_words or 'tomatoes' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'tomatoes'
        consolidated_df.at[index, 'Category ID'] = 37
        
    if 'soybean' in item_words or 'tofu' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'soybeans/tofu'
        consolidated_df.at[index, 'Category ID'] = 20
    
    if 'sake' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'wine grapes (wine)'
        consolidated_df.at[index, 'Category ID'] = 51
    
    if 'bean' in item_words or 'vanilla' in item_words or 'lentils' in item_words or 'ck|g&g|salad|medchickpea' in item_words or 'tempeh' in item_words or 'beans' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'other legumes'
        consolidated_df.at[index, 'Category ID'] = 16
    
    if 'chickpea.' in item_words or 'falafel' in item_words or ('patties' in item_words and 'vegan' in item_words):
        consolidated_df.at[index, 'Food Category'] = 'other legumes'
        consolidated_df.at[index, 'Category ID'] = 16
    
    
    if 'tuna' in item_words or 'squid' in item_words or 'cod' in item_words or 'halibut' in item_words or 'salmon' in item_words or 'clam' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'fish (finfish)'
        consolidated_df.at[index, 'Category ID'] = 12
    
    if 'raspberry' in item_words or 'blackberry' in item_words or 'blueberry' in item_words or 'strawberry' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'berries'
        consolidated_df.at[index, 'Category ID'] = 34
        
    if 'raspberries' in item_words or 'blackberries' in item_words or 'blueberries' in item_words or 'strawberries' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'berries'
        consolidated_df.at[index, 'Category ID'] = 34
    
    if 'sal' in item_words or 'samosa' in item_words or 'wrap' in item_words or 'sandwich' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'manually adjusted'
        consolidated_df.at[index, 'Category ID'] = 59
 
    if 'mandarin' in item_words or 'grapefruit' in item_words or 'lemons' in item_words or 'limes' in item_words or 'mandarins' in item_words or 'oranges' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'citrus fruit'
        consolidated_df.at[index, 'Category ID'] = 35
    
    if 'olive' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'olives (oil)'
        consolidated_df.at[index, 'Category ID'] = 49
    
    if 'beets' in item_words or 'dill' in item_words or 'ginger' in item_words or 'garlic' in item_words or 'jicama' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'root vegetables'
        consolidated_df.at[index, 'Category ID'] = 38
   
    if 'parsnip' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'root vegetables'
        consolidated_df.at[index, 'Category ID'] = 38
        
        
    if 'thyme' in item_words or 'herb' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'herbs'
        consolidated_df.at[index, 'Category ID'] = 63    
        
    if 'pea' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'peas'
        consolidated_df.at[index, 'Category ID'] = 18 
    
    if 'yogurt' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'yogurt'
        consolidated_df.at[index, 'Category ID'] = 10
        
    if 'pumpkin' in item_words or 'hemp' in item_words or 'nut' in item_words or 'almond' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'tree nuts and seeds'
        consolidated_df.at[index, 'Category ID'] = 26
    
    if 'crepe' in item_words or 'croissant' in item_words or 'danish' in item_words or 'donut' in item_words or 'eclair' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'wheat/rye (bread, pasta, baked goods)'
        consolidated_df.at[index, 'Category ID'] = 24
    
        # Check if prod_group_descrip is "SUPPLY"
    if row['prod_group_descrip'] == 'SUPPLY':
        consolidated_df.at[index, 'Food Category'] = 'kitchen supplies'
        consolidated_df.at[index, 'Category ID'] = 61
        
    if row['prod_group_descrip'] == 'DISPOSABLES':
        consolidated_df.at[index, 'Food Category'] = 'kitchen supplies'
        consolidated_df.at[index, 'Category ID'] = 61

    if row['prod_group_descrip'] == 'CLEANING':
        consolidated_df.at[index, 'Food Category'] = 'kitchen supplies'
        consolidated_df.at[index, 'Category ID'] = 61
        
    if row['prod_group_descrip'] == 'BREAD':
        consolidated_df.at[index, 'Food Category'] = 'wheat/rye (bread, pasta, baked goods)'
        consolidated_df.at[index, 'Category ID'] = 24   
    
    if row['prod_group_descrip'] == 'BAKED GOODS':
        consolidated_df.at[index, 'Food Category'] = 'wheat/rye (bread, pasta, baked goods)'
        consolidated_df.at[index, 'Category ID'] = 24
        
    if row['prod_group_descrip'] == 'CANDIES SNACKS':
        consolidated_df.at[index, 'Food Category'] = 'sugars and sweeteners'
        consolidated_df.at[index, 'Category ID'] = 43
    
    if row['prod_group_descrip'] == 'BEVERAGE' and pd.isna(row['Food Category']):
        consolidated_df.at[index, 'Food Category'] = 'water & beverages'
        consolidated_df.at[index, 'Category ID'] = 55
    
    if 'pringles' in item_words or 'pringle' in item_words or 'potato' in item_words or 'fries' in item_words or 'chip' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'potatoes'
        consolidated_df.at[index, 'Category ID'] = 41
    
    if ('base' in item_words and 'chick' in item_words) or ('thigh' in item_words) or ('wings' in item_words) or 'chicken' in item_words or 'turkey' in item_words or 'chick' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'poultry (chicken, turkey)'
        consolidated_df.at[index, 'Category ID'] = 4
    
        # Check if item_descrip contains "proscuitto" or "ham"
    if 'prosciutto' in item_words or 'ham' in item_words or 'bacon' in item_words or 'chorizo' in item_words or 'sausage' in item_words or 'pork' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'pork (pig meat)'
        consolidated_df.at[index, 'Category ID'] = 3
    
    if 'dough' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'wheat/rye (bread, pasta, baked goods)'
        consolidated_df.at[index, 'Category ID'] = 24

    if 'juice' in item_words or 'pop' in item_words or 'coke' in item_words or 'ale' in item_words or 'inst' in item_words or 'tea' in item_words or 'bev' in item_words or 'punch' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'water & beverages'
        consolidated_df.at[index, 'Category ID'] = 55 
        
    if 'water' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'water & beverages'
        consolidated_df.at[index, 'Category ID'] = 55 
 
    if 'rubbed' in item_words or 'pepper' in item_words or 'powder' in item_words or 'masala' in item_words:
        consolidated_df.at[index, 'Food Category'] = "stimulants & spices misc."
        consolidated_df.at[index, 'Category ID'] = 54
    
    if 'beer' in item_words:
        consolidated_df.at[index, 'Food Category'] = "barley (beer)"
        consolidated_df.at[index, 'Category ID'] = 50
    
    if 'sugar' in item_words or 'melona' in item_words or 'honey' in item_words or 'syrup' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'sugars and sweeteners'
        consolidated_df.at[index, 'Category ID'] = 43 
        

    if 'salt&vin' in item_words or 'balsamic' in item_words or 'vinegar' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'vinegar'
        consolidated_df.at[index, 'Category ID'] = 57
        
    if 'butter' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'butter'
        consolidated_df.at[index, 'Category ID'] = 5
        
    if 'paneer' in item_words or 'cheese' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'cheese'
        consolidated_df.at[index, 'Category ID'] = 6  
        
    if ('cream' in item_words or 'creamo10%' in item_words) and not 'ice' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'cream'
        consolidated_df.at[index, 'Category ID'] = 8  
    
    
    if 'egg' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'eggs'
        consolidated_df.at[index, 'Category ID'] = 11
        
    
    if ('milk' in item_words and 'go' in item_words) or ('milk' in item_words and '2%' in item_words) or ('milk' in item_words and 'choc' in item_words):
        consolidated_df.at[index, 'Food Category'] = "milk (cow's milk)"
        consolidated_df.at[index, 'Category ID'] = 9
        
    if 'milk' in item_words and 'homo' in item_words:
        consolidated_df.at[index, 'Food Category'] = "milk (cow's milk)"
        consolidated_df.at[index, 'Category ID'] = 9

    if ('milk' in item_words and 'soy' in item_words):
        consolidated_df.at[index, 'Food Category'] = "soy milk"
        consolidated_df.at[index, 'Category ID'] = 30
        
    if ('milk' in item_words and 'oat' in item_words) or ('oat' in item_words and 'barista' in item_words):
        consolidated_df.at[index, 'Food Category'] = "oat milk"
        consolidated_df.at[index, 'Category ID'] = 28
    
    if 'banana' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'bananas'
        consolidated_df.at[index, 'Category ID'] = 33
    
    if 'mushrooms' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'mushrooms'
        consolidated_df.at[index, 'Category ID'] = 62
        
    if 'corn' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'corn (maize)'
        consolidated_df.at[index, 'Category ID'] = 22
    
    if 'lamb' in item_words or 'mutton' in item_words or 'goat' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'lamb/mutton & goat meat'
        consolidated_df.at[index, 'Category ID'] = 2
        
    if 'apples' in item_words or 'apple' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'apples'
        consolidated_df.at[index, 'Category ID'] = 32
        
    if 'broccoli' in item_words or 'cabbage' in item_words or 'cauliflower' in item_words or 'kale' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'cabbages and other brassicas (broccoli)'
        consolidated_df.at[index, 'Category ID'] = 36   

    if 'daikon' in item_words or 'brussel' in item_words or 'choy' in item_words or 'broccolini' in item_words:
        consolidated_df.at[index, 'Food Category'] = 'cabbages and other brassicas (broccoli)'
        consolidated_df.at[index, 'Category ID'] = 36 
    
    
# consolidated_df
# 18386

#     elif 'chip' in item_words or 'potato' in item_words:
#         consolidated_df.at[index, 'Food Category'] = 'potatoes'
#         consolidated_df.at[index, 'Category ID'] = 41
# Print the updated DataFrame

In [8]:
#a_df = consolidated_df.iloc[421:41, :]
a_df = consolidated_df.iloc[14043:14070, :]
a_df

Empty DataFrame
Columns: [invoice_counter, invoice_num, invoice_total, item_num, qty, line_amount, adj_line_amount, uom, unit_cost, item_descrip, invoice_date, supplier_name, store_num, type_bill_credit, cost_over_ride, line_amount_qty, case_uom, supplier_num, prod_group_num, prod_group_descrip, order_code, compute_0022, pak_qty, case_qty, purchase_uom, cat_num, cat_descrip, has_credit, credit_pak_amount, Food Category, Category ID]
Index: []

[0 rows x 31 columns]

In [9]:
# def split_food_category(category):
#     separators = ['/', '(', ',', ')']
#     for separator in separators:
#         category = category.replace(separator, ' ')
#     return category.strip()

# for index, row in categories_df.iterrows():
#     categories_df.at[index, 'Food Category'] = split_food_category(row['Food Category'])
    
# # Iterate through each row
# for index, row in consolidated_df.iterrows():
#     item_descrip = row['item_descrip']
    
#     # Check if "Food Category" is NaN
#     if pd.isna(row['Food Category']):
    
#         # Split the item_descrip into words
#         item_words = item_descrip.split()
        
#         # Find matches between the words in item_descrip and the Food Category column
#         matches = categories_df[categories_df['Food Category'].apply(lambda x: any(word in x.split() for word in item_words))]
        
#         # If there is a match, assign the corresponding values
#         if not matches.empty:
#             consolidated_df.at[index, 'Food Category'] = matches['Food Category'].iloc[0]
#             consolidated_df.at[index, 'Category ID'] = matches['Category ID'].iloc[0]

# # Print the updated DataFrame
# consolidated_df

In [10]:
# filtered_df = consolidated_df[~consolidated_df["Category ID"].isna()]
# filtered_df

filtered_df = consolidated_df[~consolidated_df["Category ID"].isna()]
filtered_df

,invoice_counter,invoice_num,invoice_total,item_num,qty,line_amount,adj_line_amount,uom,unit_cost,item_descrip,...,compute_0022,pak_qty,case_qty,purchase_uom,cat_num,cat_descrip,has_credit,credit_pak_amount,Food Category,Category ID
0,253580,098448,382.77,2937,2.0,143.18,143.18,cs,71.59,savioardi (lady fingers),...,N,400.0,15.0,cs,7,Candy,N,0,sugars and sweeteners,43.0
1,253818,098592,561.94,2937,1.0,71.59,71.59,cs,71.59,savioardi (lady fingers),...,N,400.0,15.0,cs,7,Candy,N,0,sugars and sweeteners,43.0
2,253879,098448CR,-143.18,2937,-2.0,-143.18,-143.18,cs,71.59,savioardi (lady fingers),...,N,400.0,15.0,cs,7,Candy,N,0,sugars and sweeteners,43.0
3,255409,100030,491.36,2937,1.0,71.59,71.59,cs,71.59,savioardi (lady fingers),...,N,400.0,15.0,cs,7,Candy,N,0,sugars and sweeteners,43.0
4,255410,101072,732.65,2937,1.0,62.99,62.99,cs,62.99,savioardi (lady fingers),...,N,400.0,15.0,cs,7,Candy,N,0,sugars and sweeteners,43.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4977,254568,9001957384,1043.54,5528,1.0,50.69,50.69,cs,50.69,wrap film roll 17x2500 ct box,...,N,2500.0,1.0,cs,4,Misc.,N,0,kitchen supplies,61.0
4978,254752,9002040853,1344.08,5528,1.0,51.27,51.27,cs,51.27,wrap film roll 17x2500 ct box,...,N,2500.0,1.0,cs,4,Misc.,N,0,kitchen supplies,61.0
4979,254751,9002069993,438.54,5528,1.0,51.27,51.27,cs,51.27,wrap film roll 17x2500 ct box,...,N,2500.0,1.0,cs,4,Misc.,N,0,kitchen supplies,61.0
4980,255110,9002155420,3010.51,5528,3.0,153.81,153.81,cs,51.27,wrap film roll 17x2500 ct box,...,N,2500.0,1.0,cs,4,Misc.,N,0,kitchen supplies,61.0
4981,254033,9001770050,1178.46,5531,1.0,61.52,61.52,cs,61.52,wrap foil reg 18in 45cmx100m,...,N,328.0,1.0,cs,4,Misc.,N,0,kitchen supplies,61.0

In [11]:
consolidated_df.to_csv('C:/Users/smvan/CFFS-S23/CFFS-22-23/data/GHG_categories/GHG_assigned_data_may1_june21.csv', index = False)

In [12]:
unfiltered_df = consolidated_df[consolidated_df["Category ID"].isna()]
unfiltered_df

Empty DataFrame
Columns: [invoice_counter, invoice_num, invoice_total, item_num, qty, line_amount, adj_line_amount, uom, unit_cost, item_descrip, invoice_date, supplier_name, store_num, type_bill_credit, cost_over_ride, line_amount_qty, case_uom, supplier_num, prod_group_num, prod_group_descrip, order_code, compute_0022, pak_qty, case_qty, purchase_uom, cat_num, cat_descrip, has_credit, credit_pak_amount, Food Category, Category ID]
Index: []

[0 rows x 31 columns]

**Unit conversions**

Finding out percentage of items would need manual adjustments to units and don’t come in standard units like kg, lbs, oz, ml, etc.

In [13]:
consolidated_df['uom'].unique()

array(['cs', '6 pk', 'ea', 'DOZ', 'CA', 'each', 'CT', 'BG', 'JUG',
       'bottle', 'PL', 'lb', '500ML', '414ML', 'ROLL', '547ml', '695ml',
       '355ML', '473ML', 'bag', 'box', '591ML', 'SHEET', 'pail', 'pak',
       'Kg', 'un', 'TUB', '4L', 'BX', 'can', 'BAR', 'BASKET', 'BUNCH',
       'PAK 3', '5LBS', 'jar'], dtype=object)

In [14]:
consolidated_df['case_uom'].unique()

array(['pak', 'SHEET', 'CT', 'ea', 'each', 'CAKE', 'Kg', 'g', 'JUG', 'lb',
       '355ML', '500ML', 'BIB 20L', 'bottle', 'BIB 10L', '414ML', 'ROLL',
       '340ML', 'L', 'can', '473ML', 'bag', 'box', '591ML', 'LOAF', 'cs',
       'PTN', 'slice', 'un', 'DOZ', '10LT', '2L', '4L', 'TUB', 'POUCH',
       'LG CAN', 'oz', 'SM CAN', 'pail', '6L', 'jar', 'BLOCK', 'BAR',
       'BASKET', 'HEAD', '5#', 'BUNCH', 'PAK 3', 'fl oz', 'SLEEVE',
       '200UN', '100UN', '500UN'], dtype=object)

In [15]:
import numpy as np

# Convert measurements to lowercase
unique_uom = consolidated_df['uom'].str.lower().unique()

# Calculate % of non-standard units
standard_units = ['kg', 'lbs', 'oz', 'ml']
non_standard_count = np.sum([uom not in standard_units for uom in unique_uom])
percentage_non_standard = (non_standard_count / len(unique_uom)) * 100

print(f"Percentage of items needing manual adjustments to units: {percentage_non_standard:.2f}%")

Percentage of items needing manual adjustments to units: 97.30%

In [16]:
# Convert case_uom values to lowercase
unique_case_uom = consolidated_df['case_uom'].str.lower().unique()

# Calculate % of non-standard case units
standard_units = ['case', 'box', 'pack']
non_standard_count = np.sum([case_uom not in standard_units for case_uom in unique_case_uom])
percentage_non_standard = (non_standard_count / len(unique_case_uom)) * 100

print(f"Percentage of items needing manual adjustments to case units: {percentage_non_standard:.2f}%")

Percentage of items needing manual adjustments to case units: 98.11%

In [17]:
# Read Coversions_List.csv that was created from 1_data preprocessing
Conversions = pd.read_csv("C:/Users/smvan/CFFS-S23/CFFS-22-23/data/preprocessed/Conversions_List.csv")
Conversions.dtypes

ConversionId       object
Multiplier        float64
ConvertFromQty    float64
ConvertFromUom     object
ConvertToQty      float64
ConvertToUom       object
dtype: object

In [18]:
# Standard unit converter:
# Construct a unit converter for specific ingredients

# After this line below, spc_cov contains only the non-empty values from the 'ConversionId' column of the Conversions DataFrame.
spc_cov = list(filter(None, Conversions['ConversionId'].tolist()))


# Comments for spc_converter:
# The function checks if ingredient is in the liquid_unit or solid_unit lists. If so, it calls std_converter(qty, uom) to 
# convert the quantity and UOM to a standardized unit.

# If uom is not in liquid_unit or solid_unit it checks if ingre is in spc_cov, if it is and the ConvertToUom is equal to grams 
# then the function applies the factor to the qty argument to convert it to the standardized unit, and returns the result as
# a tuple containing the converted quantity and uom. If no conversion found, then it calls std_converter(qty, uom)

# If uom not in liquid_unit or solid_unit and if ingre is not in spc_cov then the function calls std_converter(qty, uom)

def spc_converter(ingre, qty, uom):
    if uom in liquid_unit + solid_unit:
        return std_converter(qty, uom)
    elif ingre in spc_cov:
        conversion = Conversions.loc[(Conversions['ConversionId'] == ingre) & (Conversions['ConvertFromUom'] == uom)
                                    & (Conversions['ConvertToUom'] == 'g')]
        multiplier = conversion['Multiplier']
        if multiplier.empty:
            return std_converter(qty, uom)
        else: 
            Qty = float(qty)/float(multiplier)
            Uom = conversion['ConvertToUom'].values[0]
            return (Qty, Uom)
    else:
        return std_converter(qty, uom)

In [19]:
# Display first 5 rows
Conversions.head()

,ConversionId,Multiplier,ConvertFromQty,ConvertFromUom,ConvertToQty,ConvertToUom
0,NaN,1.000000,1.0,XXX,1.00,L
1,NaN,0.877193,1.0,1.14L,1.14,L
2,NaN,0.666667,1.0,1.5L,1.50,L
3,NaN,0.571429,1.0,1.75 L,1.75,L
4,NaN,0.500000,1.0,2L,2.00,L

In [20]:
# Add the specific conversion info from the newly-processed data to a unit conversion database
Update_Conv = pd.read_csv(os.path.join("C:/Users/smvan/CFFS-S23/CFFS-22-23/data/cleaning/update/Conv_UpdateConv.csv"))
Update_Conv

,ConversionId,Multiplier,ConvertFromQty,ConvertFromUom,ConvertToQty,ConvertToUom
0,I-1028,0.008333,1.0,CT,120.0,g
1,I-1034,0.008333,1.0,CT,120.0,g
2,I-1035,0.010000,1.0,CT,100.0,g
3,I-10605,0.008850,1.0,CT,113.0,g
4,I-1126,0.006667,1.0,CT,150.0,g
...,...,...,...,...,...,...
334,I-25290,0.000213,0.1,LOAF,470.0,g
335,I-9641,0.017544,1.0,LOAF,57.0,g
336,I-14190,0.001667,1.0,LOAF,600.0,g
337,I-37113,0.004274,1.0,ea,234.0,g
338,I-1271,0.000111,0.1,LOAF,900.0,g

In [21]:
# return dataframe with null values
# There are no null values
subset_conv = Update_Conv[Update_Conv["Multiplier"].isna()]
subset_conv

Empty DataFrame
Columns: [ConversionId, Multiplier, ConvertFromQty, ConvertFromUom, ConvertToQty, ConvertToUom]
Index: []

In [22]:
# takes a data frame and assigns a new column called Multiplier to the dataframe
# uses iterrows() to iterate through the rows.Then subset_conv will have a new column named Multiplier with the computed values.
def assign_multiplier(df):
    for ind, row in df.iterrows():
        df.loc[ind, "Multiplier"] = row["ConvertFromQty"] / row["ConvertToQty"]
        
assign_multiplier(subset_conv)

# May 8th change: We want to 
assign_multiplier(Update_Conv)
#subset_conv

In [23]:
# Display the first 339 rows and all the columns
Update_Conv = Update_Conv.iloc[0:339, :]
Update_Conv

,ConversionId,Multiplier,ConvertFromQty,ConvertFromUom,ConvertToQty,ConvertToUom
0,I-1028,0.008333,1.0,CT,120.0,g
1,I-1034,0.008333,1.0,CT,120.0,g
2,I-1035,0.010000,1.0,CT,100.0,g
3,I-10605,0.008850,1.0,CT,113.0,g
4,I-1126,0.006667,1.0,CT,150.0,g
...,...,...,...,...,...,...
334,I-25290,0.000213,0.1,LOAF,470.0,g
335,I-9641,0.017544,1.0,LOAF,57.0,g
336,I-14190,0.001667,1.0,LOAF,600.0,g
337,I-37113,0.004274,1.0,ea,234.0,g
338,I-1271,0.000111,0.1,LOAF,900.0,g

In [24]:
# convert dataframe to csv file
Update_Conv = pd.concat([Update_Conv, subset_conv], axis=0)
Update_Conv.to_csv("C:/Users/smvan/CFFS-S23/CFFS-22-23/data/cleaning/update/Conv_UpdateConv.csv", index=False)

In [25]:
# retrieves the value in the 'ConversionId' column using Update_Conv.loc[index, 'ConversionId'] 
# and assigns it to the variable Id. 

# row: a Series (1-d array in pandas) You can access the individual values of the row using the column headers as keys to the
# like row['column_name'].

# if the IDs of Update_Conv are the same IDs as Conversions then we drop it from the Conversions dataframe

for index, row in Update_Conv.iterrows():
    Id = Update_Conv.loc[index, 'ConversionId']
    Conversions.drop(Conversions[Conversions['ConversionId'] == Id].index, inplace = True)

In [26]:
# combine two data frames, reset the index and remove any duplicates in the concatenated data frame, 
# and return the resulting data frame.

# Added comments below on May 8th

# frames variable is created as a list of two DataFrames, Conversions and Update_Conv.
# pd.concat() function is used to concatenate the two DataFrames vertically (i.e., stack one on top of the other). 

# drop_duplicates() method is used to remove any duplicate rows from the concatenated DataFrame based on all columns. 
# The resulting DataFrame has only unique rows.

# The resulting DataFrame is assigned back to the variable Conversions,

# drop = True ensures that the old index is not added as a new column to the dataframe 
# inplace=False parameter ensures that a new DataFrame is returned rather than modifying 
# the original Conversions DataFrame in place.

frames = [Conversions, Update_Conv]
Conversions = pd.concat(frames).reset_index(drop=True, inplace=False).drop_duplicates()

In [27]:
# Convert the DataFrame: Conversions into a csv file called Conversions_Added.csv
path = os.path.join("C:/Users/smvan/CFFS-S23/CFFS-22-23/data/cleaning/Conversions_Added.csv")
Conversions.to_csv(path, index = False, header = True)

In [28]:
# Import standard unit conversion information and construct a dataframe
Std_Unit = pd.read_csv("C:/Users/smvan/CFFS-S23/CFFS-22-23/data/external/standard_conversions.csv")
Std_Unit.head()

   Multiplier  ConvertFromQty ConvertFromUom  ConvertToQty ConvertToUom
0     4.92890               1            tsp       4.92890           ml
1    14.78700               1           Tbsp      14.78700           ml
2   946.35000               1             qt     946.35000           ml
3   473.17625               1             pt     473.17625           ml
4    28.34950               1             oz      28.34950            g

In [29]:
# Seperate uoms that converted to 'ml' or 'g'
# Below we create 2 lists. 
# list_unit contains list of unit of measurements that are being converted to milliliters 
# solid_unit contains a list of unit of measurements that are being converted to grams
# tolist() converts a Pandas Series or an array to a python list. 

liquid_unit = Std_Unit.loc[Std_Unit['ConvertToUom'] == 'ml', 'ConvertFromUom'].tolist()
solid_unit = Std_Unit.loc[Std_Unit['ConvertToUom'] == 'g', 'ConvertFromUom'].tolist()

In [30]:
# Construct a standard unit converter
def std_converter(qty, uom):
    if uom in Std_Unit['ConvertFromUom'].tolist():
        multiplier = Std_Unit.loc[Std_Unit['ConvertFromUom'] == uom, 'Multiplier']
        Qty = float(qty)*float(multiplier)
        Uom = Std_Unit.loc[Std_Unit['ConvertFromUom'] == uom, 'ConvertToUom'].values[0]
    else:
        Qty = qty
        Uom = uom
    return (Qty, Uom)

In [31]:
# Convert pounds to grams
std_converter(0.25,'lb')

(113.398, 'g')

In [32]:
# Construct a unit converter for specific ingredients

# After this line below, spc_cov contains only the non-empty values from the 'ConversionId' column of the Conversions DataFrame.
spc_cov = list(filter(None, Conversions['ConversionId'].tolist()))


# Comments for spc_converter:
# The function checks if ingredient is in the liquid_unit or solid_unit lists. If so, it calls std_converter(qty, uom) to 
# convert the quantity and UOM to a standardized unit.

# If uom is not in liquid_unit or solid_unit it checks if ingre is in spc_cov, if it is and the ConvertToUom is equal to grams 
# then the function applies the factor to the qty argument to convert it to the standardized unit, and returns the result as
# a tuple containing the converted quantity and uom. If no conversion found, then it calls std_converter(qty, uom)

# If uom not in liquid_unit or solid_unit and if ingre is not in spc_cov then the function calls std_converter(qty, uom)

def spc_converter(ingre, qty, uom):
    if uom in liquid_unit + solid_unit:
        return std_converter(qty, uom)
    elif ingre in spc_cov:
        conversion = Conversions.loc[(Conversions['ConversionId'] == ingre) & (Conversions['ConvertFromUom'] == uom)
                                    & (Conversions['ConvertToUom'] == 'g')]
        multiplier = conversion['Multiplier']
        if multiplier.empty:
            return std_converter(qty, uom)
        else: 
            Qty = float(qty)/float(multiplier)
            Uom = conversion['ConvertToUom'].values[0]
            return (Qty, Uom)
    else:
        return std_converter(qty, uom)

In [33]:
import math
spc_cov2 = [item for item in spc_cov if not(pd.isnull(item)) == True]
spc_cov2

['I-1813',
 'I-1813',
 'I-1814',
 'I-1814',
 'I-2217',
 'I-2217',
 'I-2254',
 'I-2254',
 'I-3141',
 'I-3149',
 'I-3223',
 'I-3223',
 'I-3321',
 'I-3370',
 'I-3386',
 'I-3386',
 'I-3386',
 'I-3388',
 'I-3388',
 'I-3388',
 'I-3389',
 'I-3389',
 'I-3389',
 'I-3391',
 'I-3391',
 'I-3391',
 'I-3392',
 'I-3392',
 'I-3392',
 'I-3494',
 'I-3494',
 'I-3494',
 'I-3497',
 'I-3589',
 'I-3589',
 'I-3590',
 'I-3591',
 'I-3591',
 'I-3619',
 'I-3619',
 'I-3621',
 'I-3622',
 'I-3622',
 'I-3623',
 'I-3623',
 'I-3629',
 'I-3629',
 'I-3630',
 'I-3632',
 'I-3632',
 'I-3639',
 'I-3639',
 'I-3642',
 'I-3643',
 'I-3644',
 'I-3649',
 'I-3657',
 'I-3657',
 'I-3660',
 'I-3660',
 'I-3695',
 'I-3695',
 'I-3695',
 'I-3698',
 'I-3698',
 'I-3698',
 'I-3698',
 'I-4375',
 'I-4450',
 'I-4450',
 'I-4450',
 'I-4472',
 'I-4473',
 'I-4557',
 'I-4557',
 'I-4574',
 'I-4593',
 'I-4593',
 'I-4598',
 'I-4599',
 'I-4599',
 'I-4626',
 'I-4635',
 'I-4693',
 'I-4709',
 'I-4709',
 'I-4709',
 'I-4712',
 'I-4745',
 'I-4764',
 'I-4772',
 'I-4772',
 'I-4772',
 'I-4894',
 'I-5983',
 'I-5983',
 'I-6443',
 'I-6443',
 'I-6791',
 'I-8060',
 'I-8060',
 'I-19283',
 'I-22026',
 'I-22026',
 'I-40609',
 'I-1820',
 'I-1820',
 'I-1821',
 'I-1821',
 'I-2174',
 'I-3080',
 'I-3159',
 'I-3224',
 'I-3224',
 'I-3225',
 'I-3225',
 'I-3348',
 'I-3563',
 'I-3572',
 'I-3572',
 'I-3577',
 'I-3577',
 'I-3580',
 'I-3625',
 'I-3625',
 'I-3634',
 'I-3634',
 'I-3638',
 'I-3638',
 'I-3654',
 'I-3654',
 'I-3670',
 'I-3670',
 'I-3679',
 'I-3679',
 'I-3679',
 'I-3681',
 'I-3692',
 'I-3692',
 'I-3692',
 'I-3692',
 'I-3898',
 'I-4255',
 'I-4458',
 'I-4461',
 'I-4679',
 'I-4698',
 'I-4826',
 'I-6017',
 'I-6017',
 'I-6017',
 'I-6777',
 'I-8058',
 'I-11664',
 'I-13253',
 'I-13253',
 'I-18803',
 'I-20348',
 'I-20348',
 'I-20348',
 'I-2220',
 'I-2220',
 'I-2220',
 'I-3284',
 'I-3284',
 'I-3284',
 'I-3435',
 'I-3435',
 'I-3617',
 'I-3617',
 'I-3624',
 'I-3624',
 'I-3631',
 'I-3631',
 'I-3635',
 'I-3635',
 'I-3636',
 'I-3636',
 'I-3637',
 'I-3637',
 'I-3640',
 'I-3640',
 'I-3658',
 'I-3658',
 'I-4347',
 'I-4699',
 'I-6006',
 'I-6006',
 'I-6006',
 'I-6812',
 'I-6832',
 'I-17205',
 'I-17205',
 'I-23336',
 'I-45114',
 'I-1197',
 'I-3145',
 'I-3145',
 'I-3146',
 'I-3146',
 'I-3365',
 'I-3365',
 'I-3671',
 'I-3671',
 'I-4271',
 'I-17618',
 'I-27407',
 'I-2208',
 'I-2208',
 'I-2866',
 'I-3144',
 'I-3144',
 'I-3144',
 'I-3449',
 'I-3575',
 'I-4628',
 'I-10775',
 'I-14181',
 'I-26667',
 'I-26667',
 'I-26667',
 'I-65951',
 'I-2251',
 'I-2251',
 'I-2251',
 'I-3390',
 'I-3390',
 'I-3390',
 'I-3458',
 'I-3468',
 'I-3620',
 'I-3628',
 'I-3628',
 'I-3678',
 'I-3678',
 'I-3678',
 'I-3853',
 'I-3853',
 'I-4582',
 'I-4915',
 'I-4915',
 'I-4915',
 'I-5977',
 'I-5977',
 'I-5977',
 'I-6924',
 'I-7978',
 'I-7978',
 'I-16497',
 'I-19737',
 'I-22443',
 'I-31126',
 'I-31126',
 'I-1028',
 'I-1034',
 'I-1035',
 'I-10605',
 'I-1126',
 'I-1127',
 'I-1141',
 'I-1143',
 'I-11519',
 'I-1152',
 'I-11842',
 'I-1207',
 'I-1223',
 'I-1232',
 'I-1252',
 'I-1254',
 'I-1257',
 'I-1273',
 'I-13004',
 'I-15032',
 'I-15358',
 'I-17615',
 'I-17617',
 'I-17686',
 'I-18089',
 'I-18915',
 'I-19735',
 'I-2159',
 'I-2281',
 'I-2306',
 'I-2310',
 'I-24227',
 'I-2586',
 'I-2669',
 'I-28899',
 'I-28904',
 'I-28907',
 'I-28920',
 'I-29663',
 'I-29665',
 'I-29688',
 'I-30178',
 'I-3103',
 'I-3143',
 'I-32258',
 'I-32263',
 'I-32268',
 'I-3387',
 'I-3676',
 'I-3688',
 'I-3738',
 'I-41181',
 'I-4341',
 'I-43608',
 'I-4507',
 'I-4640',
 'I-46598',
 'I-4823',
 'I-49128',
 'I-52016',
 'I-52090',
 'I-55414',
 'I-57496',
 'I-57497',
 'I-62225',
 'I-62736',
 'I-64492',
 'I-8140',
 'I-8374',
 'I-8856',
 'P-13890',
 'P-13944',
 'P-14076',
 'P-14077',
 'P-14200',
 'P-14282',
 'P-14366',
 'P-14833',
 'P-16305',
 'P-22963',
 'P-24618',
 'P-26047',
 'P-26056',
 'P-26057',
 'P-26170',
 'P-26234',
 'P-26318',
 'P-26481',
 'P-26631',
 'P-26965',
 'P-27418',
 'P-28225',
 'P-28369',
 'P-28372',
 'P-28373',
 'P-33556',
 'P-35132',
 'P-35713',
 'P-36066',
 'P-36793',
 'P-36815',
 'P-36868',
 'P-37297',
 'P-37871',
 'P-38314',
 'P-39135',
 'P-40407',
 'P-41727',
 'P-42552',
 'P-42553',
 'P-42554',
 'P-42555',
 'P-42556',
 'P-42557',
 'P-42558',
 'P-43635',
 'P-43637',
 'P-43638',
 'P-43737',
 'P-44309',
 'P-44353',
 'P-44392',
 'P-44438',
 'P-44497',
 'P-44506',
 'P-44512',
 'P-44585',
 'P-44587',
 'P-44907',
 'P-45255',
 'P-45964',
 'P-46509',
 'P-46641',
 'P-46862',
 'P-47207',
 'P-47208',
 'P-47226',
 'P-47228',
 'P-47267',
 'P-47324',
 'P-47362',
 'P-47365',
 'P-47366',
 'P-47509',
 'P-47610',
 'P-47805',
 'P-48520',
 'P-48635',
 'P-48863',
 'P-49035',
 'P-49636',
 'P-49970',
 'P-50398',
 'P-50439',
 'P-50505',
 'P-50627',
 'P-50641',
 'P-50658',
 'P-50667',
 'P-50705',
 'P-50723',
 'P-50725',
 'P-50799',
 'P-50809',
 'P-50947',
 'P-50949',
 'P-50950',
 'P-50954',
 'P-50994',
 'P-51018',
 'P-51086',
 'P-51133',
 'P-51134',
 'P-51224',
 'P-51225',
 'P-51230',
 'P-51231',
 'P-51255',
 'P-51382',
 'P-51508',
 'P-51510',
 'P-51516',
 'P-51518',
 'P-51826',
 'P-51988',
 'P-51992',
 'P-52088',
 'P-52222',
 'P-52620',
 'P-52753',
 'P-52942',
 'P-52951',
 'P-52994',
 'P-53056',
 'P-53088',
 'P-53310',
 'P-53314',
 'P-53361',
 'P-53634',
 'P-53742',
 'P-53814',
 'P-53834',
 'P-53906',
 'P-53938',
 'P-53947',
 'P-53955',
 'P-53970',
 'P-54069',
 'P-54556',
 'P-54644',
 'P-54667',
 'P-54697',
 'P-54881',
 'P-55079',
 'P-55099',
 'P-55238',
 'P-55252',
 'P-55422',
 'P-55459',
 'P-5548',
 'P-55669',
 'P-56795',
 'P-56910',
 'P-57631',
 'P-5960',
 'P-60970',
 'P-61508',
 'P-61646',
 'P-61769',
 'P-61796',
 'P-61959',
 'P-62403',
 'P-62434',
 'P-62442',
 'P-62549',
 'P-62841',
 'P-64456',
 'P-64513',
 'P-64944',
 'P-6888',
 'P-7166',
 'P-7367',
 'P-7523',
 'P-7637',
 'P-9779',
 'I-8238',
 'I-9341',
 'P-60812',
 'P-62629',
 'P-47243',
 'P-62520',
 'P-62597',
 'P-60813',
 'I-1016',
 'I-1020',
 'I-1033',
 'I-1048',
 'I-1057',
 'I-1064',
 'I-1065',
 'I-1067',
 'I-1073',
 'I-1077',
 'I-1085',
 'I-1089',
 'I-1093',
 'I-1096',
 'I-1116',
 'I-11824',
 'I-1189',
 'I-1196',
 'I-1205',
 'I-12180',
 'I-1241',
 'I-1250',
 'I-1286',
 'I-19634',
 'I-24229',
 'I-2661',
 'I-2662',
 'I-2664',
 'I-2667',
 'I-60871',
 'P-62284',
 'P-50776',
 'P-7570',
 'P-22037',
 'P-22029',
 'P-22032',
 'P-48485',
 'P-50510',
 'P-22030',
 'P-63831',
 'P-38172',
 'P-22048',
 'P-22042',
 'P-22049',
 'P-63830',
 'P-38170',
 'P-13850',
 'P-53808',
 'P-55093',
 'P-33780',
 'P-50612',
 'P-50614',
 'P-55184',
 'P-36780',
 'P-56681',
 'P-64672',
 'P-64039',
 'P-32664',
 'P-55707',
 'P-55709',
 'P-62293',
 'P-62023',
 'I-13302',
 'I-64877',
 'I-68700',
 'I-25290',
 'I-9641',
 'I-14190',
 'I-37113',
 'I-1271']

**Below I have extracted all unique items with Nonstandard Unit of Measurement in the consolidated report that need to be manually adjusted**

In [34]:
# Filter out the items whose unit information is unknown 

# We find the column names
col_names = list(consolidated_df.columns.values)

# Create a Items_Nonstd list
Items_Nonstd = []

# If the unit of measurement is not grams or ml and ingredient id starts with I and the ingredient is not in ConversionId column of Conversions 
# then we add it to Items_Nonstd list
for index, row in consolidated_df.iterrows():
    Uom = consolidated_df.loc[index,'uom']
    if Uom not in ['kg', 'lbs', 'oz', 'g', 'ml'] and Uom not in liquid_unit + solid_unit:
        Dict = {}
        Dict.update(dict(row))
        Items_Nonstd.append(Dict)

# Create a DataFrame from Items_Nonstd list
Items_Nonstd = pd.DataFrame(Items_Nonstd, columns = col_names)
# Remove duplicate ingredients of the same properties so that Items_Nonstd has only unique rows. 
Items_Nonstd.drop_duplicates(subset=['item_num'], inplace=True,)
Items_Nonstd

,invoice_counter,invoice_num,invoice_total,item_num,qty,line_amount,adj_line_amount,uom,unit_cost,item_descrip,...,compute_0022,pak_qty,case_qty,purchase_uom,cat_num,cat_descrip,has_credit,credit_pak_amount,Food Category,Category ID
0,253580,098448,382.77,2937,2.0,143.18,143.18,cs,71.59,savioardi (lady fingers),...,N,400.0,15.0,cs,7,Candy,N,0,sugars and sweeteners,43.0
5,254881,9001986310,1036.99,62911,1.0,72.18,72.18,cs,72.18,bar brownie triple choc chuck,...,N,1.0,2.0,cs,2,Food,N,0,"wheat/rye (bread, pasta, baked goods)",24.0
10,254461,26611,127.27,13791,1.0,30.90,30.90,cs,30.90,bar gf nanaimo 3x3 wrapped,...,N,1.0,12.0,cs,2,Food,N,0,"wheat/rye (bread, pasta, baked goods)",24.0
12,254595,0254595,418.58,16095,1.0,56.10,56.10,cs,56.10,bar lemon burst macaroon,...,N,1.0,2.0,cs,2,Food,N,0,"wheat/rye (bread, pasta, baked goods)",24.0
14,254318,9001905295,2710.74,1020,1.0,57.18,57.18,cs,57.18,bar nanaimo scored 12x16in,...,N,1.0,2.0,cs,2,Food,N,0,"wheat/rye (bread, pasta, baked goods)",24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4629,253447,9001650868,796.51,5516,1.0,44.02,44.02,cs,44.02,towel roll stan nat 700ft,...,N,1.0,6.0,cs,4,Misc.,N,0,kitchen supplies,61.0
4640,253459,9001708003,735.33,5526,1.0,58.97,58.97,cs,58.97,wiper fs blue 13x21in,...,N,1.0,100.0,cs,4,Misc.,N,0,kitchen supplies,61.0
4644,254072,9001905301,344.98,5527,1.0,93.52,93.52,cs,93.52,wiper fs h/d wht 13x21in,...,N,100.0,1.0,cs,4,Misc.,N,0,kitchen supplies,61.0
4645,253459,9001708003,735.33,5528,1.0,50.69,50.69,cs,50.69,wrap film roll 17x2500 ct box,...,N,2500.0,1.0,cs,4,Misc.,N,0,kitchen supplies,61.0
4655,254033,9001770050,1178.46,5531,1.0,61.52,61.52,cs,61.52,wrap foil reg 18in 45cmx100m,...,N,328.0,1.0,cs,4,Misc.,N,0,kitchen supplies,61.0