In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
# phrases = ["The quick brown fox jumped over the lazy dog",
#           "education is what you have left over after forgetting everything you"]

In [3]:
# vect = CountVectorizer()
# vect.fit(phrases)

In [4]:
# # Gives us the size of unique words in our vocabulary (phrase)
# print("Vocabulary size: {}".format(len(vect.vocabulary_)))

# # Each word with its assigned index, how the word is represented 
# print("Vocabulary content:\n {}".format(vect.vocabulary_))

In [5]:
# bag_of_words = vect.transform(phrases)

In [6]:
# Tuple (training example number, index assigned to the word)
# print(bag_of_words)

In [7]:
# print("bag_of_words as an array:\n{}".format(bag_of_words.toarray()))

In [8]:
# vect.get_feature_names_out()

In [9]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

In [10]:
import os
import sys

import matplotlib.pyplot as plt
import numpy as np
import numpy.random as npr
import pandas as pd
from sklearn.compose import (
    ColumnTransformer,
    TransformedTargetRegressor,
    make_column_transformer,
)
from sklearn.dummy import DummyClassifier, DummyRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression, LogisticRegression, Ridge, RidgeCV
from sklearn.metrics import make_scorer, mean_squared_error, r2_score
from sklearn.model_selection import cross_val_score, cross_validate, train_test_split
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, StandardScaler
from sklearn.svm import SVC

In [11]:
# data = pd.read_csv("C:/Users/smvan/CFFS-S23/CFFS-22-23/data/Machine_Learning_model/Updated_data_Gather22-23_BagOW.csv")

data = pd.read_csv("C:/Users/smvan/CFFS-S23/CFFS-22-23/data/Machine_Learning_model/Data_Labelled_Gather22-23_with_name.csv")

In [12]:
data.head()

,Category,Displayed Name,ProdId,Description,SalesGroup,Weight (g),GHG Emission (g),N lost (g),Land Use (m^2),Freshwater Withdrawals (L),...,GHG Emission (g) / 100g,N lost (g) / 100g,Freshwater Withdrawals (L) / 100g,Stress-Weighted Water Use (L) / 100g,Land Use (m^2) / 100g,GHG Only Label,Combined Label,RED,YELLOW,GREEN
0,Caliente,Black bean soup,R-54947,CAL|Black bean soup|AAD,GV - CALIENTE,405.0,642.872062,3.699893,3.714369,53.60,...,158.73,0.91,13.23,425.48,0.92,Green,Green,NaN,NaN,True
1,Caliente,Guacamole bowl,R-55154,CAL|Bowl|Guacamole|AAD,GV - CALIENTE,345.0,577.312312,3.412346,1.652956,115.97,...,167.34,0.99,33.61,881.02,0.48,Green,Green,NaN,NaN,True
2,Caliente,Havana Add Chicken Bowl,R-62018,CAL|Bowl|Havana|Add Chicken,GV - CALIENTE,430.0,1036.107243,15.532360,3.663406,125.84,...,240.96,3.61,29.27,177.77,0.85,Yellow,Yellow,NaN,True,NaN
3,Caliente,Havana Add Scallop Bowl,R-64909,CAL|Bowl|Havana|Add Scallop,GV - CALIENTE,390.0,658.333777,6.220997,2.299315,83.40,...,168.80,1.60,21.38,173.71,0.59,Green,Green,NaN,NaN,True
4,Caliente,Havana Plant-based Bowl,R-35896,CAL|Bowl|Havana|Plant based,GV - CALIENTE,415.0,685.178688,2.802186,2.710241,83.81,...,165.10,0.68,20.20,162.22,0.65,Green,Green,NaN,NaN,True

In [13]:
data['Combined Label'].value_counts()

Green     134
Yellow     97
Red        72
Name: Combined Label, dtype: int64

In [14]:
# Split the data into training and testing sets
train_df, test_df = train_test_split(data, test_size=0.2, random_state=42)

In [15]:
train_df.head()

,Category,Displayed Name,ProdId,Description,SalesGroup,Weight (g),GHG Emission (g),N lost (g),Land Use (m^2),Freshwater Withdrawals (L),...,GHG Emission (g) / 100g,N lost (g) / 100g,Freshwater Withdrawals (L) / 100g,Stress-Weighted Water Use (L) / 100g,Land Use (m^2) / 100g,GHG Only Label,Combined Label,RED,YELLOW,GREEN
132,Fresh Fare AM,Mushroom garlic Toast,R-61874,FF|Toast|Mushroom toast|AAD,GV FRESH FARE DAY,169.187500,366.529727,3.001152,0.968973,29.80,...,216.64,1.77,17.61,733.14,0.57,Yellow,Yellow,NaN,True,NaN
202,Grill PM,Monte Cristo,R-56456,GRL|Sand|Monte Cristo|AAD,GV - GRILL BREAKFAST,298.000001,1399.792852,21.989216,3.125298,208.15,...,469.73,7.38,69.85,2125.27,1.05,Red,Red,True,NaN,NaN
196,Grill PM,Jelepeno grilled cheese,R-50668,GRL|Grilled Cheese|Jalapeno,GV GRILL FEATURE,191.000001,655.889109,6.801639,0.887445,110.04,...,343.40,3.56,57.61,2814.95,0.46,Yellow,Red,True,NaN,NaN
75,Delish,Delish Blueberry,R-36817,DEL|Smoothie|Delish,GV - DELISH,1.000000,2.867474,0.012589,0.002809,0.41,...,286.75,1.26,41.00,1740.00,0.28,Yellow,Yellow,NaN,True,NaN
176,Grill PM,Poutine Gravy,R-44765,ADD|Gravy|3oz,GV GRILL DAY,90.000000,79.505397,0.765742,0.115836,9.05,...,88.34,0.85,10.06,439.87,0.13,Green,Green,NaN,NaN,True

In [16]:
# Preprocess the text by separating words using the "|" delimiter
import re

# Preprocess the text by separating words using the "|" delimiter
train_df["Description"] = train_df["Description"].apply(lambda x: re.sub(r'\|', ' ', x))
test_df["Description"] = test_df["Description"].apply(lambda x: re.sub(r'\|', ' ', x))

In [17]:
train_df.head()

,Category,Displayed Name,ProdId,Description,SalesGroup,Weight (g),GHG Emission (g),N lost (g),Land Use (m^2),Freshwater Withdrawals (L),...,GHG Emission (g) / 100g,N lost (g) / 100g,Freshwater Withdrawals (L) / 100g,Stress-Weighted Water Use (L) / 100g,Land Use (m^2) / 100g,GHG Only Label,Combined Label,RED,YELLOW,GREEN
132,Fresh Fare AM,Mushroom garlic Toast,R-61874,FF Toast Mushroom toast AAD,GV FRESH FARE DAY,169.187500,366.529727,3.001152,0.968973,29.80,...,216.64,1.77,17.61,733.14,0.57,Yellow,Yellow,NaN,True,NaN
202,Grill PM,Monte Cristo,R-56456,GRL Sand Monte Cristo AAD,GV - GRILL BREAKFAST,298.000001,1399.792852,21.989216,3.125298,208.15,...,469.73,7.38,69.85,2125.27,1.05,Red,Red,True,NaN,NaN
196,Grill PM,Jelepeno grilled cheese,R-50668,GRL Grilled Cheese Jalapeno,GV GRILL FEATURE,191.000001,655.889109,6.801639,0.887445,110.04,...,343.40,3.56,57.61,2814.95,0.46,Yellow,Red,True,NaN,NaN
75,Delish,Delish Blueberry,R-36817,DEL Smoothie Delish,GV - DELISH,1.000000,2.867474,0.012589,0.002809,0.41,...,286.75,1.26,41.00,1740.00,0.28,Yellow,Yellow,NaN,True,NaN
176,Grill PM,Poutine Gravy,R-44765,ADD Gravy 3oz,GV GRILL DAY,90.000000,79.505397,0.765742,0.115836,9.05,...,88.34,0.85,10.06,439.87,0.13,Green,Green,NaN,NaN,True

In [18]:
train_df.columns

Index(['Category', 'Displayed Name', 'ProdId', 'Description', 'SalesGroup',
       'Weight (g)', 'GHG Emission (g)', 'N lost (g)', 'Land Use (m^2)',
       'Freshwater Withdrawals (L)', 'Stress-Weighted Water Use (L)',
       'GHG Emission (g) / 100g', 'N lost (g) / 100g',
       'Freshwater Withdrawals (L) / 100g',
       'Stress-Weighted Water Use (L) / 100g', 'Land Use (m^2) / 100g',
       'GHG Only Label', 'Combined Label', 'RED', 'YELLOW', 'GREEN'],
      dtype='object')

In [19]:
# All recipe items are unique as expected
train_df['Description'].value_counts()

FF Toast Mushroom toast AAD       1
GRL Salad Chop Chop               1
FF Toast Smashed Avocado AAD      1
FF Spaghetti Puttanesca AAD       1
SL Squash bowl(1)                 1
                                 ..
GRL Burger Alumni AAD             1
FF Pasta blanco AAD               1
FLX Bao Mushroom AAD              1
SL Maple salmon +2                1
FF BOWL Dobanjiang Noodle AAD     1
Name: Description, Length: 242, dtype: int64

In [20]:
X_train, y_train = train_df[['Description']], train_df['Combined Label']
X_test, y_test = test_df[['Description']], test_df['Combined Label']

In [21]:
X_train = X_train.reset_index(drop=True)
X_train

                        Description
0       FF Toast Mushroom toast AAD
1         GRL Sand Monte Cristo AAD
2       GRL Grilled Cheese Jalapeno
3               DEL Smoothie Delish
4                     ADD Gravy 3oz
..                              ...
237  GRL Cauliflower Bites AAD 160g
238     DEL Smoothie Banana Matcha
239      FF Bowl OysterMushroom AAD
240    SL Peppercorn Pork Chop 170g
241  FF BOWL Dobanjiang Noodle AAD

[242 rows x 1 columns]

In [22]:
y_train.value_counts()

Green     107
Yellow     72
Red        63
Name: Combined Label, dtype: int64

In [23]:
scoring_metrics = 'accuracy'

In [24]:
results = {}

In [25]:
def mean_std_cross_val_scores(model, X_train, y_train, **kwargs):
    """
    Returns mean and std of cross validation

    Parameters
    ----------
    model :
        scikit-learn model
    X_train : numpy array or pandas DataFrame
        X in the training data
    y_train :
        y in the training data

    Returns
    ----------
        pandas Series with mean scores from cross_validation
    """

    scores = cross_validate(model, X_train, y_train, **kwargs)

    mean_scores = pd.DataFrame(scores).mean()
    std_scores = pd.DataFrame(scores).std()
    out_col = []

    for i in range(len(mean_scores)):
        out_col.append((f"%0.3f (+/- %0.3f)" % (mean_scores[i], std_scores[i])))

    return pd.Series(data=out_col, index=mean_scores.index)

import numpy as np
import pandas as pd
from sklearn.model_selection import cross_validate
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

# def mean_std_cross_val_scores(model, X_train, y_train, **kwargs):
#     """
#     Returns mean and std of cross validation

#     Parameters
#     ----------
#     model :
#         scikit-learn model
#     X_train : numpy array or pandas DataFrame
#         X in the training data
#     y_train :
#         y in the training data

#     Returns
#     ----------
#         pandas Series with mean scores from cross_validation
#     """

#     scores = cross_validate(model, X_train, y_train, **kwargs)

#     mean_scores = pd.DataFrame(scores).mean()
#     std_scores = pd.DataFrame(scores).std()
#     out_col = []

#     for i in range(len(mean_scores)):
#         out_col.append((f"%0.3f (+/- %0.3f)" % (mean_scores[i], std_scores[i])))

#     return pd.Series(data=out_col, index=mean_scores.index)

In [26]:
# This is the baseline model
dummy = DummyClassifier()
results["dummy"] = mean_std_cross_val_scores(
    dummy, X_train, y_train, return_train_score=True, scoring=scoring_metrics
)
pd.DataFrame(results).T

,fit_time,score_time,test_score,train_score
dummy,0.000 (+/- 0.000),0.000 (+/- 0.000),0.442 (+/- 0.006),0.442 (+/- 0.002)

In [27]:
X_train['Description'].isna().sum()

0

In [28]:
# Code for cross-validation for hyperparamter optimization
from sklearn.feature_extraction.text import CountVectorizer
scoring_metric = "accuracy"
param_grid = {"C": np.logspace(-5, 5, 11)}
for param in param_grid["C"]:
    pipe = make_pipeline(CountVectorizer(stop_words='english'), 
                         LogisticRegression(C=param, max_iter=2000))
    key = "Logistic Regression" + "(C= " + str(param) + ")"
    results[key] = mean_std_cross_val_scores(
        pipe, X_train['Description'], y_train, cv = 5, return_train_score=True, scoring=scoring_metrics
    )
pd.DataFrame(results).T

,fit_time,score_time,test_score,train_score
dummy,0.000 (+/- 0.000),0.000 (+/- 0.000),0.442 (+/- 0.006),0.442 (+/- 0.002)
Logistic Regression(C= 1e-05),0.007 (+/- 0.006),0.000 (+/- 0.001),0.442 (+/- 0.006),0.442 (+/- 0.002)
Logistic Regression(C= 0.0001),0.008 (+/- 0.008),0.000 (+/- 0.001),0.442 (+/- 0.006),0.442 (+/- 0.002)
Logistic Regression(C= 0.001),0.005 (+/- 0.003),0.001 (+/- 0.001),0.442 (+/- 0.006),0.442 (+/- 0.002)
Logistic Regression(C= 0.01),0.004 (+/- 0.003),0.000 (+/- 0.000),0.442 (+/- 0.006),0.442 (+/- 0.002)
Logistic Regression(C= 0.1),0.007 (+/- 0.001),0.001 (+/- 0.001),0.599 (+/- 0.052),0.759 (+/- 0.022)
Logistic Regression(C= 1.0),0.010 (+/- 0.001),0.001 (+/- 0.000),0.637 (+/- 0.080),0.966 (+/- 0.008)
Logistic Regression(C= 10.0),0.015 (+/- 0.000),0.000 (+/- 0.000),0.645 (+/- 0.086),0.981 (+/- 0.005)
Logistic Regression(C= 100.0),0.022 (+/- 0.005),0.003 (+/- 0.007),0.633 (+/- 0.096),0.981 (+/- 0.005)
Logistic Regression(C= 1000.0),0.051 (+/- 0.008),0.000 (+/- 0.000),0.620 (+/- 0.088),0.981 (+/- 0.005)
Logistic Regression(C= 10000.0),0.101 (+/- 0.015),0.003 (+/- 0.007),0.612 (+/- 0.093),0.981 (+/- 0.005)
Logistic Regression(C= 100000.0),0.142 (+/- 0.041),0.000 (+/- 0.000),0.620 (+/- 0.099),0.981 (+/- 0.005)

In [29]:
y_train

132    Yellow
202       Red
196       Red
75     Yellow
176     Green
        ...
188     Green
71      Green
106     Green
270       Red
102     Green
Name: Combined Label, Length: 242, dtype: object

In [30]:
# using a popular library called nltk
import spacy

In [31]:
import nltk

In [32]:
X_train

                        Description
0       FF Toast Mushroom toast AAD
1         GRL Sand Monte Cristo AAD
2       GRL Grilled Cheese Jalapeno
3               DEL Smoothie Delish
4                     ADD Gravy 3oz
..                              ...
237  GRL Cauliflower Bites AAD 160g
238     DEL Smoothie Banana Matcha
239      FF Bowl OysterMushroom AAD
240    SL Peppercorn Pork Chop 170g
241  FF BOWL Dobanjiang Noodle AAD

[242 rows x 1 columns]

In [33]:
from sklearn.feature_extraction.text import CountVectorizer

import re

# Fit the CountVectorizer on the training data
vec = CountVectorizer(stop_words='english')
X_counts = vec.fit_transform(X_train["Description"])

# Remove measurements and other patterns from the feature names
feature_names = vec.get_feature_names_out()

# clean_feature_names = [re.sub(r'^[^|]+?\|(\d+g|\+\d+|\d+ml|__ g|\(.*\)|\d+g)', '', feature) for feature in feature_names]
#clean_feature_names = [re.sub(r'^[^|]+?\|(\d+g|\+\d+|\d+ml|__ g|\(.*\)|\d+g)', '', feature) if not re.search(r'\b\d+g\b', feature) else '' for feature in feature_names]


# clean_feature_names = [re.sub(r'^[^|]+?\|(\d+g|\+\d+|\d+ml|__ g|\(.*\)|\d+g)|\badd\b|\b\d+(?=ml|oz)', '', feature) for feature in feature_names]

# clean_feature_names = [re.sub(r'^[^|]+?\|(\d+g|\+\d+|\d+ml|__ g|\(.*\)|\d+g|\d+(?:ml|oz))', '', feature) for feature in feature_names]
# Create a DataFrame with the cleaned feature names

clean_feature_names = [re.sub(r'^[^|]+?\|(\d+g|\+\d+|\d+ml|__ g|\(.*\)|\d+g)', '', feature) if not re.search(r'\b\d+g\b', feature) else '' for feature in feature_names]
clean_feature_names = [re.sub(r'^[^|]+?\|(\d+g|\+\d+|\d+ml|__ g|\(.*\)|\d+ml)', '', feature) if not re.search(r'\b\d+g\b', feature) else '' for feature in clean_feature_names]
clean_feature_names = [re.sub(r'^[^|]+?\|(\d+g|\+\d+|\d+ml|__ g|\(.*\)|\d+oz)', '', feature) if not re.search(r'\b\d+g\b', feature) else '' for feature in clean_feature_names]
# clean_feature_names = [re.sub(r'^[^|]+?\|(\d+g|\+\d+|\d+ml|__ g|\(.*\)|\d+ml|\d+oz)', '', feature) if not re.search(r'\b\d+(?=ml|oz)\b', feature) else '' for feature in clean_feature_names]
bow_df = pd.DataFrame(X_counts.toarray(), columns=clean_feature_names, index=X_train["Description"])


# Remove the unwanted columns from the DataFrame
unwanted_columns = [col for col in bow_df.columns if not col.strip()]
bow_df.drop(columns=unwanted_columns, inplace=True)

# bow_df.drop(columns = ['add'], inplace = True)
bow_df

,350ml,3oz,aad,acorn,add,albacore,almonds,alumni,apple,applecin,...,wilted,wing,wise,wrap,x1,x2,yaki,yam,zinger,zuc
Description,,,,,,,,,,,,,,,,,,,,,
FF Toast Mushroom toast AAD,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
GRL Sand Monte Cristo AAD,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
GRL Grilled Cheese Jalapeno,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DEL Smoothie Delish,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ADD Gravy 3oz,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
GRL Cauliflower Bites AAD 160g,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DEL Smoothie Banana Matcha,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FF Bowl OysterMushroom AAD,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SL Peppercorn Pork Chop 170g,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FF BOWL Dobanjiang Noodle AAD,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
# FOR TEST

from sklearn.feature_extraction.text import CountVectorizer

import re

# Fit the CountVectorizer on the training data
vec = CountVectorizer(stop_words='english')
X_counts = vec.fit_transform(X_test["Description"])

# Remove measurements and other patterns from the feature names
feature_names = vec.get_feature_names_out()

# clean_feature_names = [re.sub(r'^[^|]+?\|(\d+g|\+\d+|\d+ml|__ g|\(.*\)|\d+g)', '', feature) for feature in feature_names]
#clean_feature_names = [re.sub(r'^[^|]+?\|(\d+g|\+\d+|\d+ml|__ g|\(.*\)|\d+g)', '', feature) if not re.search(r'\b\d+g\b', feature) else '' for feature in feature_names]


# clean_feature_names = [re.sub(r'^[^|]+?\|(\d+g|\+\d+|\d+ml|__ g|\(.*\)|\d+g)|\badd\b|\b\d+(?=ml|oz)', '', feature) for feature in feature_names]

# clean_feature_names = [re.sub(r'^[^|]+?\|(\d+g|\+\d+|\d+ml|__ g|\(.*\)|\d+g|\d+(?:ml|oz))', '', feature) for feature in feature_names]
# Create a DataFrame with the cleaned feature names

clean_feature_names = [re.sub(r'^[^|]+?\|(\d+g|\+\d+|\d+ml|__ g|\(.*\)|\d+g)', '', feature) if not re.search(r'\b\d+g\b', feature) else '' for feature in feature_names]
clean_feature_names = [re.sub(r'^[^|]+?\|(\d+g|\+\d+|\d+ml|__ g|\(.*\)|\d+ml)', '', feature) if not re.search(r'\b\d+g\b', feature) else '' for feature in clean_feature_names]
clean_feature_names = [re.sub(r'^[^|]+?\|(\d+g|\+\d+|\d+ml|__ g|\(.*\)|\d+oz)', '', feature) if not re.search(r'\b\d+g\b', feature) else '' for feature in clean_feature_names]
# clean_feature_names = [re.sub(r'^[^|]+?\|(\d+g|\+\d+|\d+ml|__ g|\(.*\)|\d+ml|\d+oz)', '', feature) if not re.search(r'\b\d+(?=ml|oz)\b', feature) else '' for feature in clean_feature_names]
bow_df_test = pd.DataFrame(X_counts.toarray(), columns=clean_feature_names, index=X_test["Description"])


# Remove the unwanted columns from the DataFrame
unwanted_columns = [col for col in bow_df_test.columns if not col.strip()]
bow_df_test.drop(columns=unwanted_columns, inplace=True)

# bow_df.drop(columns = ['add'], inplace = True)
bow_df_test

,350,aad,add,artichoke,avocado,baked,bandit,bannana,basil,bean,...,tofu,tomato,tonica,tortilla,tots,truffle,tuna,udon,veg,white
Description,,,,,,,,,,,,,,,,,,,,,
GRL Big Burger kimchiBacon AAD,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLX Pasta Ravioli butternut,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FF Bowl Salsa scramble AAD,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SL Big Veg Caulif Roast 320g,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
DEL Salad Bandit,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SL Chicken Thigh +2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FF Bowl Kale AAD,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SL Starches RATIO NEW,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
GRL Chicken Burger Thai Chili,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
GRL Burger Greek TMRW AAD,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
bow_df.drop(columns = ['cal', 'gza', 'bev', 'del', 'flx', 'gr', 'grl', 'sand', 'ff', 'free', 'hs', 'cc', 'sl', '350ml', '3oz'], inplace = True)
bow_df

,aad,acorn,add,albacore,almonds,alumni,apple,applecin,asparagus,avo,...,wilted,wing,wise,wrap,x1,x2,yaki,yam,zinger,zuc
Description,,,,,,,,,,,,,,,,,,,,,
FF Toast Mushroom toast AAD,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
GRL Sand Monte Cristo AAD,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
GRL Grilled Cheese Jalapeno,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DEL Smoothie Delish,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ADD Gravy 3oz,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
GRL Cauliflower Bites AAD 160g,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DEL Smoothie Banana Matcha,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FF Bowl OysterMushroom AAD,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SL Peppercorn Pork Chop 170g,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FF BOWL Dobanjiang Noodle AAD,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
bow_df_test

,350,aad,add,artichoke,avocado,baked,bandit,bannana,basil,bean,...,tofu,tomato,tonica,tortilla,tots,truffle,tuna,udon,veg,white
Description,,,,,,,,,,,,,,,,,,,,,
GRL Big Burger kimchiBacon AAD,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FLX Pasta Ravioli butternut,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FF Bowl Salsa scramble AAD,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SL Big Veg Caulif Roast 320g,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
DEL Salad Bandit,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SL Chicken Thigh +2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FF Bowl Kale AAD,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SL Starches RATIO NEW,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
GRL Chicken Burger Thai Chili,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
GRL Burger Greek TMRW AAD,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
bow_df_test.drop(columns = ['cal', 'gza', 'bev', 'del', 'flx', 'gr', 'grl', 'sand', 'ff', 'free', 'hs', 'cc', 'sl', '350ml', '3oz'], inplace = True)
bow_df_test

KeyError: "['gr', 'free', 'hs', 'cc', '350ml', '3oz'] not found in axis"

In [ ]:
bow_df.drop(columns = ['aad', 'add'], inplace = True)

bow_df_test.drop(columns = ['aad', 'add'], inplace = True)

In [ ]:
bow_df.drop(columns = ['bowl'], inplace = True)

bow_df_test.drop(columns = ['bowl'], inplace = True)

In [ ]:
bow_df.drop(columns = ['x1', 'x2'], inplace = True)

bow_df_test.drop(columns = ['x1', 'x2'], inplace = True)

In [ ]:
bow_df.drop(columns = ['ubc'], inplace = True)

bow_df_test.drop(columns = ['ubc'], inplace = True)

In [ ]:
bow_df.columns.tolist()

In [ ]:
bow_df_test.columns.tolist()

In [ ]:
# Find the count of each keyword
keyword_counts = bow_df.sum(axis=0)

# Sort the keyword counts in descending order
keyword_counts_sorted = keyword_counts.sort_values(ascending=False)

# Print the keyword counts in descending order
print(keyword_counts_sorted.head(30))
keyword_counts_sorted.tolist()


# also can set min_df which will ignore features with freq less than a threshold value

In [ ]:
bow_df

In [ ]:
X_train_enc = bow_df.values
logreg = LogisticRegression()

In [ ]:
logreg.fit(X_train_enc, y_train)

In [ ]:
y_pred = logreg.predict(X_train_enc)

In [ ]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_train, y_pred)
print("Accuracy:", accuracy)

In [ ]:
y_pred =

***Achieving a 95% training accuracy***

In [ ]:
# To get results on test set need to create pipline and put preprocessing steps like removing column names in function
# logreg.score(X_test, y_test)

In [ ]:
# CountVectorizer can only take one column and not a data table
type(X_train["Description"])

In [ ]:
X_counts

In [ ]:
print("The number of rows and columns: ", *X_counts.shape)
print("The total number of elements: ", np.prod(X_counts.shape))
print("The number of non-zero elements: ", X_counts.nnz)
print(
    "Proportion of non-zero elements: %0.4f" % (X_counts.nnz / np.prod(X_counts.shape))
)

In [ ]:
# from gensim.models import Word2Vec
# import nltk
# import pandas as pd
# import numpy as np
# from sklearn.linear_model import LogisticRegression

# # Reindex the train_df DataFrame
# train_df = train_df.reset_index(drop=True)

# # Preprocess the text
# sentences = [nltk.word_tokenize(sentence) for sentence in train_df['Description']]

# # Train the Word2Vec model
# model = Word2Vec(sentences, vector_size=100, window=5, min_count=2, workers=4)

# # Convert text data into numerical vectors
# word_vectors = model.wv
# sentence_vectors = []

# for sentence in sentences:
#     vectors = []
#     for word in sentence:
#         if word in word_vectors:
#             vectors.append(word_vectors[word])
#     if vectors:
#         sentence_vector = sum(vectors) / len(vectors)  # Averaging word vectors
#         sentence_vectors.append(sentence_vector)

# # Train your classification model (e.g., logistic regression)
# X_train = np.vstack(sentence_vectors)
# y_train = train_df['Combined Label']

# # Reindex X_train and y_train
# X_train_df = pd.DataFrame(X_train)
# y_train = y_train.reset_index(drop=True)

# logistic_model = LogisticRegression(max_iter=1000)
# logistic_model.fit(X_train_df, y_train)

# # Evaluate the model on test data
# test_sentences = [nltk.word_tokenize(sentence) for sentence in test_df['Description']]
# test_sentence_vectors = []

# for sentence in test_sentences:
#     vectors = []
#     for word in sentence:
#         if word in word_vectors:
#             vectors.append(word_vectors[word])
#     if vectors:
#         sentence_vector = sum(vectors) / len(vectors)
#         test_sentence_vectors.append(sentence_vector)

# X_test = np.vstack(test_sentence_vectors)
# y_test = test_df['Combined Label']
# accuracy = logistic_model.score(X_test, y_test)
# print("Accuracy:", accuracy)

In [ ]:
# from sklearn.feature_extraction.text import CountVectorizer
# pipe = make_pipeline(CountVectorizer(stop_words='english'), 
#                      LogisticRegression(max_iter=1000))
# results["logistic regression"] = mean_std_cross_val_scores(
#     pipe, bow_df, y_train, return_train_score=True, scoring=scoring_metrics
# )
# pd.DataFrame(results).T

In [ ]:
# # Create a CountVectorizer instance and fit it on the training data
# vectorizer = CountVectorizer(stop_words='english')
# X_train_counts = vectorizer.fit_transform(X_train)

In [ ]:
# # Transform the testing data using the trained vectorizer
# X_test_counts = vectorizer.transform(X_test)

In [ ]:
# # Train a classifier (e.g., Naive Bayes) on the training data
# classifier = MultinomialNB()
# classifier.fit(X_train_counts, y_train)

In [ ]:
# # Make predictions on the testing data
# y_pred = classifier.predict(X_test_counts)

In [ ]:
# # Evaluate the performance of the classifier
# accuracy = accuracy_score(y_test, y_pred)
# print("Accuracy:", accuracy)